h1 {
    text-align: center;
    padding: 20px;
    font-size: 100px;
    font-family: cursive;
    color: white;
    
}

#inst2 {
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
    color: white;
}

#inst3 {
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
    color: white;
}

#start {
    background-color: rgb(213, 131, 145);
    font-size: large;
    color:aliceblue;
    font-family: 'Times New Roman', Times, serif;
    padding: 5px 20px;
    border-radius: 30px;
}

body {
    background-color: palevioletred;
}

.titlep {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.titlefooter { 
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 28px;
}

.q1right {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

