h1 {
    text-align: center;
    padding: 20px;
    font-size: 100px;
    font-family: cursive;
    color: white;
    
}

#inst2 {
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
    color: white;
}

#inst3 {
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
    color: white;
}

#start {
    background-color: rgb(213, 131, 145);
    font-size: large;
    color:aliceblue;
    font-family: 'Times New Roman', Times, serif;
    padding: 5px 20px;
    border-radius: 30px;
}

body {
    background-color: palevioletred;
}

#question1 {
    font-size: 30px;
    font-family:'Times New Roman', Times, serif;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 28px;
}

.q1wrong {
    background-color: rgb(213, 131, 145);
    font-size: large;
    color:aliceblue;
    font-family: 'Times New Roman', Times, serif;
    padding: 5px 20px;
    border-radius: 30px;
}

#q1right {
    background-color: rgb(213, 131, 145);
    font-size: large;
    color:aliceblue;
    font-family: 'Times New Roman', Times, serif;
    padding: 5px 20px;
    border-radius: 30px;
}

#question2 {
    font-size: 30px;
    font-family:'Times New Roman', Times, serif;
    color: white;
}

.q2wrong {
    background-color: rgb(213, 131, 145);
    font-size: large;
    color:aliceblue;
    font-family: 'Times New Roman', Times, serif;
    padding: 5px 20px;
    border-radius: 30px;
}

#q2right {
    background-color: rgb(213, 131, 145);
    font-size: large;
    color:aliceblue;
    font-family: 'Times New Roman', Times, serif;
    padding: 5px 20px;
    border-radius: 30px;
}

#question3 {
    font-size: 30px;
    font-family:'Times New Roman', Times, serif;
    color: white;
}

.q3wrong {
    background-color: rgb(213, 131, 145);
    font-size: large;
    color:aliceblue;
    font-family: 'Times New Roman', Times, serif;
    padding: 5px 20px;
    border-radius: 30px;
}

#q3right {
    background-color: rgb(213, 131, 145);
    font-size: large;
    color:aliceblue;
    font-family: 'Times New Roman', Times, serif;
    padding: 5px 20px;
    border-radius: 30px;
}

.titlep {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.titlefooter { 
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 28px;
}

#results {
    font-size: 30px;
    font-family:'Times New Roman', Times, serif;
    color: white;
}

#submit {
    background-color: rgb(213, 131, 145);
    font-size: large;
    color:aliceblue;
    font-family: 'Times New Roman', Times, serif;
    padding: 5px 20px;
    border-radius: 30px;
}

#highscores {
    font-size: 30px;
    font-family:'Times New Roman', Times, serif;
    color: white;
}

#gb {
    background-color: rgb(213, 131, 145);
    font-size: large;
    color:aliceblue;
    font-family: 'Times New Roman', Times, serif;
    padding: 5px 20px;
    border-radius: 30px;
}

#ch {
    background-color: rgb(213, 131, 145);
    font-size: large;
    color:aliceblue;
    font-family: 'Times New Roman', Times, serif;
    padding: 5px 20px;
    border-radius: 30px;
}
/* .q1right {
    display: flex;
    justify-content: center;
    flex-direction: column;
} */

